<!DOCTYPE html>

<html dir="ltr" lang="{{ craft.app.language }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ siteName }}</title>

        <!-- Icons -->
        <link rel="stylesheet" href="/dist/icons/visionlearning-icons.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Schoolbell&display=swap" rel="stylesheet">

        <!-- Natura11y Icon CSS -->
        <link rel="stylesheet" href="/dist/css/visionlearning.css">
        
    </head>

    <body>

        <header>

            <div class="wide margin-x-auto">
            
                <div class="primary-nav--inline--lg">

                    <div class="primary-nav__logo">

                        <a href="#" title="Home" data-logo="brand">
                            <svg xmlns="http://www.w3.org/2000/svg" width="270" height="60" viewBox="0 0 270 60">
                                <g>
                                    <path fill="var(--library)" d="M3.7129,18.128a24.3466,24.3466,0,0,1,44.7541-.1145l2.2291-1.2711.6723-.3855a27.8159,27.8159,0,0,0-5.6743-8.2194,27.6219,27.6219,0,0,0-39.157,0A27.7845,27.7845,0,0,0,.805,16.48l.46.2605Z" />
                                    <circle fill="var(--glossary)" cx="26.0869" cy="18.4451" r="9" />
                                    <polygon fill="var(--classroom)" points="0 20.895 0 45.177 26.138 60 52.173 45.177 52.173 20.895 26.138 35.718 0 20.895" />
                                </g>
                                <g>
                                    <polygon points="74.18 31.639 83.362 8.186 78.7 8.186 71.621 27.138 64.542 8.186 59.881 8.186 69.064 31.639 74.18 31.639"/>
                                    <rect x="83.1631" y="14.655" width="3.6794" height="16.9836"/>
                                    <path d="M93.0481,19.2605c0-1.195,1.1924-2.1079,3.1189-2.1079a6.89,6.89,0,0,1,5.0119,2.0388l1.542-2.6018a9.6485,9.6485,0,0,0-6.553-2.3562c-4.2749,0-6.6588,2.3572-6.6588,5.1345,0,6.5391,10.2333,4.1492,10.2333,7.489,0,1.335-1.156,2.25-3.365,2.25a8.6789,8.6789,0,0,1-5.7109-2.355L88.9834,29.388A10.2351,10.2351,0,0,0,96.2365,32.06c4.557,0,7.0455-2.2866,7.0455-5.3095C103.281,20.001,93.0481,22.251,93.0481,19.2605Z"/>
                                    <path d="M107.7051,12.581a2.285,2.285,0,1,0-2.2786-2.2851A2.2763,2.2763,0,0,0,107.7051,12.581Z"/>
                                    <rect x="105.8479" y="14.655" width="3.6797" height="16.9836"/>
                                    <path d="M120.302,14.2329c-5.3979,0-8.6919,4.0085-8.6919,8.896,0,4.853,3.294,8.9316,8.6919,8.9316s8.69-4.0786,8.69-8.9316C128.9919,18.24,125.698,14.2329,120.302,14.2329Zm0,14.5561c-3.1194,0-4.8706-2.6359-4.8706-5.66,0-2.9878,1.7512-5.625,4.8706-5.625,3.1545,0,4.87,2.636,4.87,5.625C125.1719,26.1541,123.4561,28.79,120.302,28.789Z"/>
                                    <path d="M134.75,19.7539a5.7679,5.7679,0,0,1,4.35-2.25c2.0674,0,3.4336.844,3.4336,3.5171V31.6387h3.6782V19.6831c0-3.48-1.8217-5.4492-5.4683-5.4492a8.0608,8.0608,0,0,0-5.9926,2.708V14.655h-3.679V31.6387h3.679V19.7539Z"/>
                                    <rect x="149.3125" y="8.1861" width="3.6777" height="23.4526"/>
                                    <path d="M164.289,29.0359a5.1266,5.1266,0,0,1-5.3627-4.677h13.038v-.9138c0-5.344-3.2241-9.2122-8.3051-9.2122a8.57,8.57,0,0,0-8.5859,8.896,8.5025,8.5025,0,0,0,8.8656,8.9316,10.009,10.009,0,0,0,6.8692-2.4966l-1.6845-2.4269A7.0854,7.0854,0,0,1,164.289,29.0359Zm-.664-11.7778a4.563,4.563,0,0,1,4.8,4.4665H158.893A4.6378,4.6378,0,0,1,163.625,17.2581Z"/>
                                    <path d="M184.8681,29.7749v1.8638h-.0009v.0044h3.6792V20.354c0-4.5362-3.295-6.1179-7.08-6.1179a9.893,9.893,0,0,0-7.1113,2.7429l1.5429,2.5669a6.7609,6.7609,0,0,1,5.0127-2.18c2.3115,0,3.958,1.197,3.958,3.1645v2.533a7.0556,7.0556,0,0,0-5.5009-2.1809c-2.7706,0-5.8545,1.6169-5.8545,5.554a5.6418,5.6418,0,0,0,5.8545,5.6244A7.11,7.11,0,0,0,184.8681,29.7749Zm-7.6748-3.3059c0-1.8284,1.58-3.0574,3.6455-3.0574a5.0388,5.0388,0,0,1,4.0289,1.7578v2.6021a5.0426,5.0426,0,0,1-4.0289,1.7581C178.7715,29.5291,177.1933,28.332,177.1933,26.469Z"/>
                                    <path d="M195.3271,20.07a5.7666,5.7666,0,0,1,4.38-2.2847,5.0479,5.0479,0,0,1,1.1211.1052V14.2334a7.34,7.34,0,0,0-5.501,2.8845V14.655h-3.6806V31.6387h3.6806Z"/>
                                    <path d="M214.1543,31.6387h3.6772V19.6831c0-3.48-1.8232-5.4492-5.47-5.4492a8.063,8.063,0,0,0-5.9907,2.708V14.655h-3.6826V31.6387h3.6826V19.7539a5.7656,5.7656,0,0,1,4.3462-2.25c2.07,0,3.4375.844,3.4375,3.5171V31.6387Z"/>
                                    <path d="M222.7871,12.581a2.285,2.285,0,1,0-2.2778-2.2851A2.28,2.28,0,0,0,222.7871,12.581Z"/>
                                    <rect x="220.9316" y="14.655" width="3.6792" height="16.9836"/>
                                    <path d="M237.3779,14.2339a8.0487,8.0487,0,0,0-5.9893,2.708V14.655H227.708V31.6387h3.6806V19.7539a5.76,5.76,0,0,1,4.3453-2.25c2.0688,0,3.4355.844,3.4355,3.5171V31.6387h3.68V19.6831C242.8476,16.2031,241.0234,14.2339,237.3779,14.2339Z"/>
                                    <path d="M257.8613,17.0105a6.6416,6.6416,0,0,0-5.4311-2.7771c-4.3853,0-7.5,3.1992-7.5,8.719,0,5.592,3.1875,8.72,7.5,8.72a6.8079,6.8079,0,0,0,5.4311-2.8483v1.9343c0,3.6211-2.5937,4.7461-5.01,4.7461a6.6654,6.6654,0,0,1-5.3974-2.1807l-1.72,2.6743a9.68,9.68,0,0,0,7.1171,2.5308c4.1329,0,8.6885-1.6509,8.6885-7.77V14.655h-3.6806v2.356h.0019Zm0,9.11a5.6127,5.6127,0,0,1-4.3452,2.25c-2.9492,0-4.8057-2.146-4.8057-5.417s1.86-5.4492,4.8057-5.4492a5.6143,5.6143,0,0,1,4.3452,2.25Z"/>
                                    <path d="M266.75,8.0105a3.2728,3.2728,0,0,0-3.2715,3.2724v.0176A3.2608,3.2608,0,1,0,270,11.2829v-.019A3.2387,3.2387,0,0,0,266.75,8.0105Zm2.9062,3.2724A2.918,2.918,0,1,1,263.82,11.3v-.0175a2.9183,2.9183,0,1,1,5.8364-.0186v.019Z"/>
                                    <path d="M268.2588,10.5781V10.56a.9471.9471,0,0,0-.2784-.7132,1.4069,1.4069,0,0,0-1.0351-.3718h-1.5225V12.9h.6494V11.716h.7134l.8277,1.1839h.7719l-.9184-1.292A1.0169,1.0169,0,0,0,268.2588,10.5781Zm-1.34.5679-.8467-.002V10.06h.8467c.4229,0,.6773.19.6773.5324v.0215C267.5957,10.9389,267.3418,11.146,266.9189,11.146Z"/>
                                </g>
                                <g>
                                    <path d="M66.4861,52.55a1.7859,1.7859,0,0,0,.6358.124,1.077,1.077,0,0,0,1.1162-.7908l.4961-1.1315-3.1319-7.5655h1.2559l2.4961,6.1392,2.48-6.1392h1.271l-3.7514,9.0071a2.2266,2.2266,0,0,1-2.2017,1.5193,3.7739,3.7739,0,0,1-.8525-.1084Z"/>
                                    <path d="M74.0345,46.9222a3.7111,3.7111,0,1,1,7.41,0,3.7119,3.7119,0,1,1-7.41,0Zm6.1855,0a2.5154,2.5154,0,1,0-4.9766,0A2.62,2.62,0,0,0,77.74,49.8214C79.3362,49.8214,80.22,48.4571,80.22,46.9222Z"/>
                                    <path d="M88.5432,50.6739V49.62a3.663,3.663,0,0,1-2.6665,1.24A2.1059,2.1059,0,0,1,83.49,48.4725V43.1861h1.1626v4.93c0,1.3179.6665,1.7056,1.6743,1.7056A2.865,2.865,0,0,0,88.5432,48.69V43.1861h1.1626v7.4878Z"/>
                                    <path d="M92.1848,50.6739V43.1861h1.1626v1.209a3.1828,3.1828,0,0,1,2.4961-1.3642v1.1938a2.0528,2.0528,0,0,0-.4653-.0464,2.7388,2.7388,0,0,0-2.0308,1.1936v5.302Z"/>
                                    <path d="M101.4065,41.14a.783.783,0,0,1,1.5659,0,.783.783,0,1,1-1.5659,0Zm.2017,9.5342V43.1861h1.1626v7.4878Z"/>
                                    <path d="M110.305,50.6739V45.775c0-1.3179-.667-1.7363-1.6744-1.7363a2.8928,2.8928,0,0,0-2.2172,1.1626v5.4726h-1.1626V43.1861h1.1626v1.085A3.7155,3.7155,0,0,1,109.08,43a2.1281,2.1281,0,0,1,2.3872,2.4184v5.2554Z"/>
                                    <path d="M113.9,48.8446a3.3932,3.3932,0,0,0,2.4648,1.07c1.1475,0,1.7676-.5115,1.7676-1.24,0-.8215-.915-1.0849-1.9224-1.333-1.2714-.2947-2.7133-.6357-2.7133-2.186,0-1.1626,1.0078-2.1548,2.791-2.1548a3.79,3.79,0,0,1,2.7749,1.085l-.5425.8061a2.9179,2.9179,0,0,0-2.2324-.9456c-1.0235,0-1.6592.4651-1.6592,1.1316,0,.7288.8525.9615,1.83,1.1939,1.3022.2944,2.8061.6665,2.8061,2.3254,0,1.2556-1.0078,2.2635-2.9458,2.2635a3.9829,3.9829,0,0,1-3.0229-1.1783Z"/>
                                    <path d="M121.1067,41.14a.783.783,0,0,1,1.5659,0,.783.783,0,1,1-1.5659,0Zm.2017,9.5342V43.1861h1.1626v7.4878Z"/>
                                    <path d="M125.5247,51.7281a2.8594,2.8594,0,0,0,2.4341,1.0232,2.1439,2.1439,0,0,0,2.4028-2.2478v-1.07a3.1273,3.1273,0,0,1-2.5117,1.3332c-1.9531,0-3.333-1.4572-3.333-3.8757,0-2.4028,1.3642-3.8911,3.333-3.8911a3.1026,3.1026,0,0,1,2.5117,1.3176V43.1861h1.1626v7.2708c0,2.48-1.7363,3.2556-3.5654,3.2556a3.8254,3.8254,0,0,1-3.023-1.1162Zm4.8369-6.48a2.7589,2.7589,0,0,0-2.2324-1.2092c-1.5039,0-2.4029,1.1938-2.4029,2.8525,0,1.6433.899,2.8525,2.4029,2.8525a2.7724,2.7724,0,0,0,2.2324-1.2246Z"/>
                                    <path d="M139.0725,50.6739v-4.93c0-1.3176-.6826-1.7053-1.69-1.7053a2.9439,2.9439,0,0,0-2.2173,1.1626v5.4726h-1.1626v-10.34h1.1626v3.9375A3.7225,3.7225,0,0,1,137.8474,43a2.106,2.106,0,0,1,2.3877,2.3872v5.2866Z"/>
                                    <path d="M142.9466,49.108V44.2091h-1.24v-1.023h1.24V41.14h1.1626v2.0464h1.519v1.023h-1.519V48.86c0,.5581.248.9614.7592.9614a1.1239,1.1239,0,0,0,.7911-.31L146,50.38a1.9008,1.9008,0,0,1-1.395.48A1.5318,1.5318,0,0,1,142.9466,49.108Z"/>
                                    <path d="M151.3782,41.14a.7827.7827,0,0,1,1.5654,0,.7827.7827,0,1,1-1.5654,0Zm.2012,9.5342V43.1861h1.1631v7.4878Z"/>
                                    <path d="M160.2762,50.6739V45.775c0-1.3179-.6666-1.7363-1.6744-1.7363a2.89,2.89,0,0,0-2.2168,1.1626v5.4726h-1.163V43.1861h1.163v1.085A3.7126,3.7126,0,0,1,159.0511,43a2.1281,2.1281,0,0,1,2.3876,2.4184v5.2554Z"/>
                                    <path d="M164.15,49.108V44.2091h-1.24v-1.023h1.24V41.14h1.1631v2.0464h1.519v1.023h-1.519V48.86c0,.5581.248.9614.76.9614a1.1235,1.1235,0,0,0,.7906-.31l.3408.8682a1.9006,1.9006,0,0,1-1.395.48A1.5324,1.5324,0,0,1,164.15,49.108Z"/>
                                    <path d="M168.1951,46.9222a3.7113,3.7113,0,1,1,7.4106,0,3.7122,3.7122,0,1,1-7.4106,0Zm6.186,0a2.5153,2.5153,0,1,0-4.9765,0,2.62,2.62,0,0,0,2.4961,2.8992C173.4973,49.8214,174.3811,48.4571,174.3811,46.9222Z"/>
                                    <path d="M181.7576,48.8446a3.3932,3.3932,0,0,0,2.4648,1.07c1.1475,0,1.7676-.5115,1.7676-1.24,0-.8215-.9145-1.0849-1.9223-1.333-1.2715-.2947-2.7129-.6357-2.7129-2.186,0-1.1626,1.0073-2.1548,2.79-2.1548a3.79,3.79,0,0,1,2.7754,1.085l-.543.8061a2.9163,2.9163,0,0,0-2.2324-.9456c-1.0229,0-1.6587.4651-1.6587,1.1316,0,.7288.853.9615,1.83,1.1939,1.3022.2944,2.8057.6665,2.8057,2.3254,0,1.2556-1.0074,2.2635-2.9453,2.2635a3.9822,3.9822,0,0,1-3.023-1.1783Z"/>
                                    <path d="M192.4685,43a3.2056,3.2056,0,0,1,2.7442,1.3022l-.7754.7129a2.22,2.22,0,0,0-1.9068-.9765,2.6088,2.6088,0,0,0-2.5888,2.8835,2.6222,2.6222,0,0,0,2.5888,2.8992,2.2573,2.2573,0,0,0,1.9068-.9768l.7754.7131a3.2057,3.2057,0,0,1-2.7442,1.3023,3.935,3.935,0,0,1,0-7.86Z"/>
                                    <path d="M196.7923,41.14a.783.783,0,0,1,1.5659,0,.783.783,0,1,1-1.5659,0Zm.2016,9.5342V43.1861h1.1626v7.4878Z"/>
                                    <path d="M203.8919,43c2.2632,0,3.5967,1.7671,3.5967,4.0151V47.31H201.427a2.6382,2.6382,0,0,0,2.6973,2.5891,3.2746,3.2746,0,0,0,2.31-.9456l.5581.7595a4.0678,4.0678,0,0,1-2.9766,1.1473,3.9347,3.9347,0,0,1-.124-7.86Zm-2.4649,3.457h4.9141a2.4274,2.4274,0,0,0-2.4649-2.4961A2.4979,2.4979,0,0,0,201.427,46.4571Z"/>
                                    <path d="M214.5716,50.6739V45.775c0-1.3179-.667-1.7363-1.6744-1.7363a2.8928,2.8928,0,0,0-2.2172,1.1626v5.4726h-1.1626V43.1861H210.68v1.085A3.7155,3.7155,0,0,1,213.347,43a2.1281,2.1281,0,0,1,2.3872,2.4184v5.2554Z"/>
                                    <path d="M221.5149,43a3.2056,3.2056,0,0,1,2.7442,1.3022l-.7754.7129a2.22,2.22,0,0,0-1.9068-.9765,2.6088,2.6088,0,0,0-2.5888,2.8835,2.6222,2.6222,0,0,0,2.5888,2.8992,2.258,2.258,0,0,0,1.9068-.9768l.7754.7131a3.2057,3.2057,0,0,1-2.7442,1.3023,3.935,3.935,0,0,1,0-7.86Z"/>
                                    <path d="M229.2962,43c2.2632,0,3.5967,1.7671,3.5967,4.0151V47.31h-6.0616a2.6382,2.6382,0,0,0,2.6973,2.5891,3.2746,3.2746,0,0,0,2.31-.9456l.5581.7595A4.0678,4.0678,0,0,1,229.42,50.86a3.9347,3.9347,0,0,1-.124-7.86Zm-2.4649,3.457h4.9141a2.4274,2.4274,0,0,0-2.4649-2.4961A2.4979,2.4979,0,0,0,226.8313,46.4571Z"/>
                                </g>
                            </svg>
                        </a>

                    </div>

                    <nav class="primary-nav__menu" id="main-menu" aria-label="Main Menu">

                        <ul>
                            <li>
                                <a href="/docs">
                                    Docs
                                </a>
                            </li>
                            <li>
                                <a href="/resources">
                                    Resources
                                </a>
                            </li>
                        </ul>

                    </nav>

                    <div class="primary-nav__toggle">

                        <button
                            class="mobile-menu-toggle button button--icon-only"
                            aria-label="Menu"
                            data-toggle="collapse"
                            data-target-toggle="#main-menu"
                            data-target-close="#search">
                                <span class="icon icon-menu"></span>
                        </button>

                    </div>

                    <div class="primary-nav__actions">

                        <a href=""
                            class="button button--icon-only"
                            aria-label="Homepage">
                                <span class="icon icon-home"></span>
                        </a>

                    </div>

                </div>
            
            </div>
            
        </header>

        <hr />

        <main id="skip-header-target">

            <div class="wide margin-x-auto">

                <div class="grid grid--sidebar-left">

                    <div class="font-size-md">

                        <div class="container narrow position-sticky-top">
                        
                            <div class="margin-y-3 display-none--lg">

                                <button
                                    class="button button--has-icon text-color-link width-100"
                                    data-toggle="collapse"
                                    data-target-toggle="#main-nav">
                                        <span class="icon icon-menu"></span>
                                        <span class="button__text">Menu</span>
                                </button>

                            </div>
                            
                            <div class="collapse display-block--lg" id="main-nav">

                                <div class="font-size-sm position-sticky-top margin-y-3">

                                    <nav class="border border-radius">
                                                
                                        <ul class="tabs-nav">
                                        
                                            <li>
                                                <a href="cool/docs" class="tabs-nav__link">
                                                    Docs
                                                </a>
                                            </li>

                                        </ul>

                                    </nav>
                                                        
                                </div>
                                        
                            </div>
                        </div>

                    </div>

                    <div
                        class="margin-y-5" 
                        style="container-type: inline-size; container-name: module-main;"
                    >
                
                        <div class="main">

                            <div class="container medium doc">
                            
                                {% block content %}
            
                                {% endblock %}
                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </main>

        <script src="/dist/js/prism.js"></script>

        <!-- MathJax Script -->
        <script src="/dist/js/mathjax-config.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js" async></script>

        <script src="/dist/js/visionlearning.js"></script>
</body>
</html>
